<nav>
  <ul>
    <li><a href="/adoptions/new">New Adoption</a></li>
  </ul>
</nav>


<h1>Adoption id: <%= @adoption.id %></h1>

<p>Owner Name: <%= @adoption.owner.full_name.capitalize %></p>
<p>Beast Name: <%= @adoption.beast.name.capitalize %></p>
<p>Beast Type: <%= @adoption.beast.type.capitalize %></p>
<p>Adoption Date: <%= @adoption.adoption_date %></p>
<p>Update Message: <%= @adoption.update_message %></p>

<a href="/adoptions/<%= @adoption.id %>/edit">Edit Adoption Details</a>

<form action="/adoptions/<%= @adoption.id %>/delete" method="post">
  <input type="submit" value="Delete Adoption Info">
</form>
