
<nav class="show">
  <ul>
    <li>Filter by:</li>
    <li> <a href="/beasts">All Beasts</a></li>
    <li><a href="/beasts/adoptable">Adoptable</a></li>
    <li><a href="/beasts/not-adoptable">Not Adoptable</a></li>
    <li><a href="/beasts/type">Find by Type</a></li>
    <br>
    <br>
    <li><a href="/beasts/new">New Beast</a></li>
  </ul>
</nav>

<body>
  <div class="info">
    <p>Beast id: <%= @beast.id %></p>

    <p>Name: <%= @beast.name %> </p>
    <p>Type: <%= @beast.type %> </p>
    <p>Collection Date: <%= @beast.collection_date %> </p>
    <p>Adoption Status: <%= @beast.adoption_status.capitalize %> </p>
    <p class="characteristics">Characteristics: <%= @beast.characteristics.capitalize %> </p>
    <p>Diet: <%= @beast.diet.capitalize %> </p>
    <br>
    <a class="edit" href="/beasts/<%= @beast.id %>/edit">Edit Beast Details</a>

    <form class="button" action="/beasts/<%= @beast.id %>/delete" method="post">
      <input type="submit" value="Delete Beast">
    </form>
  </div>
  <br>
  <img class="beast" src="<%= @beast.image%>" alt="Image of <%= @beast.type %>" width="250"/>

</body>
